<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button></ion-back-button>
      <ion-title>Consultar</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

 <ion-item>
    <ion-avatar class="icono-clientes">
      <img src="../assets/img/clientes.png">
    </ion-avatar>
    <ion-label>ir a Clientes</ion-label>
  </ion-item>
  
  <form *ngFor="let renta of rentas">
    <h2 class="titulo-rentas">Rentas</h2>
    <h3 class="subtitulo-rentas">Informacion de Renta</h3>
    <ion-item lines="none">
      <ion-label position="floating">Placa</ion-label>
      <ion-input type="text" value="{{renta.placa}}"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="floating">Numero de Licencia</ion-label>
      <ion-input type="text" value="{{renta.numLicencia}}"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="floating">Fecha de renta</ion-label>
      <ion-input type="date" value="{{renta.fechaRenta}}"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="floating">Hora de renta</ion-label>
      <ion-input type="time" value="{{renta.horaRenta}}"></ion-input> 
    </ion-item>
    <ion-item lines="none">
      <ion-label position="floating">Fecha de devolucion</ion-label>
      <ion-input type="date" value="{{renta.fechaDevolucion}}"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="floating">Hora de devolucion</ion-label>
      <ion-input type="time" value="{{renta.horaDevolucion}}"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="floating">Kilometraje</ion-label>
      <ion-input type="number" value="{{renta.kilometraje}}"></ion-input>
    </ion-item>
    <ion-item>
      <label>Estado de vehiculo</label><br>
    <select class="my-select">
      <option>Bueno</option>
      <option>Regular</option>
      <option>Malo</option>
    </select>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="floating">Descripcion de estado de vehiculo</ion-label>
      <ion-input type="text" value="{{renta.descripcionEstadoVehiculo}}"></ion-input>
    </ion-item>

    <ion-button color="secondary" expand="block">Enviar</ion-button>

  </form>
  

</ion-content>
