<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button></ion-back-button>
      <ion-title>Cliente</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <h2 class="titulo-clientes">Clientes</h2>
    <h3 class="subtitulo-clientes">Informacion del Cliente</h3>
    <ion-item lines="none">
      <ion-label position="floating">Numero de licencia:</ion-label>
      <ion-input type="text" value="" placeholder="Ingrese el numero de licencia a consultar"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="floating">Nombre completo:</ion-label>
      <ion-input type="text" value=""></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="floating">Numero de telefono:</ion-label>
      <ion-input type="text" value=""></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="floating">Direccion:</ion-label>
      <ion-input type="text" value=""></ion-input>
    </ion-item>

    <ion-button color="secondary" expand="block">Consultar</ion-button>

  </form>
</ion-content>
